@model Karma.Models.Products
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Chi tiết sản phẩm</h1>         
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!--================Single Product Area =================-->
<div class="product_image_area">
    <div class="container">
        <div class="row s_product_inner">
            <div class="col-lg-6">
                <div class="s_Product_carousel">
                    <div class="single-prd-item">
                        <img class="img-fluid" src="@Model.AnhSanPham" alt=""> 
                    </div>                 
                    <div class="single-prd-item">
                        <img class="img-fluid" src="@Model.AnhSanPham" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="s_product_text">
                    <h3>@Model.TenSanPham</h3>
                    <h2>@String.Format("{0:0,0}", @Model.Gia) VNĐ</h2>
                    <ul class="list">
                        <li><a class="active" href="#"><span>Loại</span> : @Model.TenLoai</a></li>
                        <li><a href="#"><span>Tình trạng</span> : @Model.TinhTrang</a></li>
                    </ul>
                    <p>
                        @Model.MoTa
                    </p>
                    <div class="product_count">
                        <label for="qty">Số lượng:</label>
                        <input type="text" name="qty" id="sst" maxlength="12" value="1" title="Quantity:" class="input-text qty">                   
                        <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
                                class="increase items-count" type="button">
                            <i class="lnr lnr-chevron-up"></i>
                        </button>
                        <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
                                class="reduced items-count" type="button">
                            <i class="lnr lnr-chevron-down"></i>
                        </button>
                    </div>
                    @if (Session["User"] == null)
                    {
                        <div class="card_area d-flex align-items-center">
                            <a class="primary-btn" href="@Url.Action("Login","User")">Đăng nhập để mua hàng</a>                           
                        </div>
                    }
                    else
                    {
                        <div class="card_area d-flex align-items-center">                         
                            <a class="primary-btn" onclick="AddToCart('@Model.MaSanPham')">Thêm vào giỏ hàng</a>                         
                        </div>
                    }

                    <div class="alert alert-success hiden-success" id="success-alert" style="position: fixed">
                        <button type="button" class="close" data-dismiss="alert">x</button>
                        Thêm vào giỏ hàng thành công <a href="@Url.Action("ShoppingCart","Cart")">Vào giỏ hàng</a>
                    </div>
                    <div id="failed" style="visibility: hidden">
                        <p><i class="fa fa-warning"></i></p>
                        Xin lỗi ! Quá số lượng tồn kho
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--================End Single Product Area =================-->

