@*@model IEnumerable<Karma.Models.Products>*@
@using PagedList.Mvc;
@model PagedList.PagedList<Karma.Models.Products>

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Cửa Hàng</h1>              
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<div class="container">
    <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-5">
            <div class="sidebar-categories">
                <div class="head">Các Loại Mũ</div>
                @Html.Action("CategoriesPart", "Shop")

            </div>         
        </div>
        <div class="col-xl-9 col-lg-8 col-md-7">
            <!-- Start Filter Bar -->
            <div class="filter-bar d-flex flex-wrap align-items-center">         
                <div class="mr-auto">                  
                </div>
                <div class="pagination">
                    @Html.PagedListPager(Model, page => Url.Action("ShopCategory", new { page = page }))
                </div>
            </div>
            <!-- End Filter Bar -->
            <!-- Start Best Seller -->
            <section class="lattest-product-area pb-40 category-list">

                <div class="row">
                    @foreach (var item in Model)
                    {
                        <!-- single product -->
                        <div class="col-lg-4 col-md-6">
                            <div class="single-product">
                                <a href="@Url.Action("ProductDetails","Shop", new { id = item.MaSanPham})">
                                    <img class="img-fluid" src="@item.AnhSanPham" alt="">
                                </a>
                                <div class="product-details">
                                    <a href="@Url.Action("ProductDetails","Shop", new { id = item.MaSanPham})">
                                        <h6>
                                            @item.TenSanPham
                                        </h6>
                                    </a>
                                    <div class="price">
                                        <h6>@String.Format("{0:0,0}", item.Gia) VNĐ</h6>
                                        <h6 class="l-through">@String.Format("{0:0,0}", item.GiaGoc) VNĐ</h6>
                                    </div>                                 
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </section>
            <!-- End Best Seller -->
            <!-- Start Filter Bar -->
            <div class="filter-bar d-flex" style="margin-bottom:50px">
                <div class=" mr-auto">               
                </div>
                <div class="pagination">
                    @Html.PagedListPager(Model, page => Url.Action("ShopCategory", new { page = page }))
                </div>
            </div>
            <!-- End Filter Bar -->
        </div>
    </div>
</div>
