@model Karma.Models.Login
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Đăng nhập/Đăng ký</h1>         
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!--================Login Box Area =================-->
<section class="login_box_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img">
                    <img class="img-fluid" src="~/Assets/User/img/login.jpg" alt="">
                    <div class="hover">
                        <h4>Là người mới?</h4>
                        <p>Có những tiến bộ trong khoa học và công nghệ hàng ngày, và một ví dụ điển hình về điều này là</p>
                        @Html.ActionLink("Tạo một tài khoản", "SignUp", "User", new { @class = "primary-btn" })

                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner">
                    <h3>Đăng nhập để tiếp tục</h3>
                    @using (Html.BeginForm("Login", "User", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "row login_form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="col-md-12 form-group">


                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Nhập email", type = "email", onfocus = "this.placeholder = ''", onblur = "this.placeholder = 'Enter Email'", Value = ViewBag.Email } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-12 form-group">


                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Mật khẩu", type = "password", onfocus = "this.placeholder = ''", onblur = "this.placeholder = 'Password'", Value = ViewBag.Password } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="creat_account">
                                <label for="f-option2">
                                    @Html.CheckBoxFor(model => model.RememberMe)
                                    Remember Me
                                </label>
                            </div>
                        </div>
                        <div class="col-md-12 form-group">
                            <button type="submit" value="submit" class="primary-btn">Đăng nhập</button>            
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
@if (ViewBag.Mess != null)
{
    <script>
        alert("Sai tài khoản hoặc mật khẩu");
    </script>
}
else if (ViewBag.MessVRF != null)
{
    <script>
        alert("Email chưa được kích hoạt");
    </script>
}
<!--================End Login Box Area =================-->
