@using Karma.Models
@model List<Cart>
@{ Customer kh = (Customer)Session["User"]; }
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Thanh toán</h1>              
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!--================Checkout Area =================-->
<section class="checkout_area section_gap">
    <div class="container">
        <div class="billing_details">
            <div class="row">
                <div class="col-lg-6">
                    <h3>Chi tiết đơn hàng</h3>
                    <form class="row contact_form" action="#" method="post" novalidate="novalidate">
                        <div class="col-md-12 form-group p_star">
                            <input type="text" class="form-control" id="last" name="name" value="@kh.HoTen">
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <input type="text" class="form-control" id="number" name="number" value="@kh.SDT">
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <input type="text" class="form-control" id="email" name="compemailany" value="@kh.Email">
                        </div>
                        <div class="col-md-12 form-group p_star">
                            <input type="text" class="form-control" id="add1" name="add1" value="@kh.DiaChi">
                        </div>
                    </form>
                </div>
                <div class="col-lg-6">
                    <div class="order_box">
                        <h2>Đơn hàng của bạn</h2>
                        <ul class="list">
                            <li><a href="#">Sản phẩm <span>Tạm tính</span></a></li>
                            @foreach (var item in Model)
                            {
                                <li>
                                    <a href="#">
                                     @item.TenSanPham<span class="middle">SL: @item.SoLuong</span>
                                    <span class="last">@String.Format("{0:0,0}", item.ThanhTien) VNĐ</span>
                                    </a>
                            </li>
                            }
                        </ul>
                        <ul class="list list_2">
                            <li><a href="">Tổng tiền<span>@String.Format("{0:0,0}", ViewBag.TongTien) VNĐ</span></a></li>
                        </ul>
                        <a class="primary-btn" onclick="checkOut()">Thanh toán</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Checkout Area =================-->
<script>
    function checkOut() {
        $.ajax({
            url: "/Cart/Checkout",
            data: null,
            dataType: "json",
            type: "POST",
            success: function () {
                alert('Tạo đơn hàng thành công');
                location.href = '/Cart/Confirmation';
            }
        });
    }
</script>