@using Karma.Models
@model List<Cart>
@{
    List<Cart> listCart = Session["Cart"] as List<Cart>;
}
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Shopping Cart</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="category.html">Cart</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!--================Cart Area =================-->
<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <div class="media">
                                        <div class="d-flex">
                                            <img src="@item.AnhSanPham" style="width:100px" alt="">
                                        </div>
                                        <div class="media-body">
                                            <p>@item.TenSanPham</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5>@String.Format("{0:0,0}", item.DonGia) VNĐ</h5>
                                </td>
                                <td>
                                    <div class="product_count">
                                        <input type="text" name="qty" id="sst" min="1" maxlength="12" value="@item.SoLuong" title="Số lượng:"
                                               class="input-text qty" readonly data-id="@item.MaSanPham">
                                        <button class="increase items-count" type="button" id="up" name="@item.MaSanPham">
                                            <i class="lnr lnr-chevron-up"></i>
                                        </button>
                                        <button class="reduced items-count" type="button" id="down" name="@item.MaSanPham">
                                            <i class="lnr lnr-chevron-down"></i>
                                        </button>
                                    </div>
                                </td>
                                <td>
                                    <h5 class="checkoutTT_@item.MaSanPham">@String.Format("{0:0,0}", item.ThanhTien) VNĐ</h5>
                                </td>
                            </tr>
                        }

                        <tr>
                            <td></td>
                            <td></td>
                            <td>
                                <h5>Subtotal</h5>
                            </td>
                            <td>
                                <h5 class="checkout">@String.Format("{0:0,0}", ViewBag.TongTien) VNĐ</h5>
                            </td>
                        </tr>

                        <tr class="out_button_area">
                            <td></td>
                            <td></td>
                            <td>
                                <div class="checkout_btn_inner d-flex align-items-center">
                                    <a style="margin-right: 30px" class="gray_btn" href="@Url.Action("ShopCategory","Shop")">Tiếp tục mua</a>
                                    <a class="primary-btn" href="@Url.Action("Checkout","Cart")">Tiến hành thanh toán</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!--================End Cart Area =================-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script>
    var qtyClick = $('.product_count');
    qtyClick.on('click', '.items-count', function () {
        var $btn = $(this);

        var oldVal = $btn.parent().find('input').val();
        if ($btn.hasClass('increase')) {
            var newVal = parseFloat(oldVal) + 1;
        } else if ($btn.hasClass('reduced')) {
            if (oldVal > 1) {
                var newVal = parseFloat(oldVal) - 1;
            } else {
                newVal = 1;
            }
        } else {
            var newVal = parseFloat(oldVal);
        }
        $btn.parent().find('input').val(newVal);
    });

    qtyClick.on('click', '.items-count', function () {
        $('.product_count').each(function () {
            var sl = $('#sst').val();
            var id = $('#sst').data("id");

            sl = $(this).find('input').val();
            id = $(this).find('input').data("id");

            $.ajax({
                url: "UpdateQty",
                data: { id: id, sl: sl },
                datatype: "json",
                type: "POST",
                success: function (response) {
                    if (response.status != null) {
                        var getId = "checkoutTT_" + response.status.MaSanPham;
                        $(getId).html(formatNumber(response.status.ThanhTien, '.', ',') + ' VNĐ');
                        $('.checkout').html(formatNumber(response.status.TongTien, '.', ',') + 'VNĐ');
                        location.reload(); 
                    }
                }
            });
        });
    });

    function formatNumber(nStr, decSeperate, groupSeperate) {
        nStr += '';
        x = nStr.split(decSeperate);
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + groupSeperate + '$2');
        }
        return x1 + x2;
    }

</script>