@using PagedList.Mvc;
@model PagedList.PagedList<Karma.Models.Products>
<!-- start banner Area -->
<section class="banner-area">
    <div class="container">
        <div class="row fullscreen align-items-center justify-content-start">
            <div class="col-lg-12">
                <div class="active-banner-slider owl-carousel">
                    <!-- single-slide -->
                    <div class="row single-slide align-items-center d-flex">
                        <div class="col-lg-5 col-md-6">
                            <div class="banner-content">
                                <h1>Sản Phẩm <br>Mới!</h1>
                                <p>
                                    Bắt kịp theo xu hướng
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="banner-img">
                                <img class="img-fluid" src="~/Assets/User/img/banner/banner-img1.png" alt="">
                            </div>
                        </div>
                    </div>
                    <!-- single-slide -->
                    <div class="row single-slide align-items-center d-flex">
                        <div class="col-lg-5">
                            <div class="banner-content">
                                <h1>Sản Phẩm <br>Mới!</h1>
                                <p>
                                    Thời trang và phong cách
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="banner-img">
                                <img class="img-fluid" src="~/Assets/User/img/banner/banner-img2.png" alt="">
                            </div>
                        </div>
                    </div>
                    <!-- single-slide -->
                    <div class="row single-slide align-items-center d-flex">
                        <div class="col-lg-5">
                            <div class="banner-content">
                                <h1>Sản Phẩm <br>Mới!</h1>
                                <p>
                                    Trẻ trung và năng động
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="banner-img">
                                <img class="img-fluid" src="~/Assets/User/img/banner/banner-img3.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->
<!-- start features Area -->
<section class="features-area section_gap">
    <div class="container">
        <div class="row features-inner">
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="~/Assets/User/img/features/f-icon1.png" alt="">
                    </div>
                    <h6>Miễn phí giao hàng</h6>
                    <p>Miễn phí giao hàng cho tất cả các đơn hàng</p>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="~/Assets/User/img/features/f-icon2.png" alt="">
                    </div>
                    <h6>Chính sách đổi trả</h6>
                    <p>Có nhiều chính sách đổi trả hấp dẫn</p>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="~/Assets/User/img/features/f-icon3.png" alt="">
                    </div>
                    <h6>Hỗ trợ 24/7</h6>
                    <p>Đội ngũ tư vấn viên sẵn sàng hỗ trợ nhiệt tình 24/7</p>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="~/Assets/User/img/features/f-icon4.png" alt="">
                    </div>
                    <h6>Thanh toán dễ dàng</h6>
                    <p>Thanh toán nhanh và tiện lời nhờ dịch vụ Ship COD</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end features Area -->
<!-- Start category Area -->
<section class="category-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-lg-8 col-md-8">
                        <div class="single-deal">
                            <div class="overlay"></div>
                            <img class="img-fluid w-100" src="~/Assets/User/img/category/c1.png" alt="" style="width:10px">
                            <a href="~/Assets/User/img/category/c1.jpg" class="img-pop-up" target="_blank">
                                <div class="deal-details">
                                    <h6 class="deal-title">Mũ bảo hiểm đầy phong cách</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="single-deal">
                            <div class="overlay"></div>
                            <img class="img-fluid w-100" src="~/Assets/User/img/category/c2.png" alt="">
                            <a href="~/Assets/User/img/category/c2.jpg" class="img-pop-up" target="_blank">
                                <div class="deal-details">
                                    <h6 class="deal-title">cào cào Marushin XMX</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="single-deal">
                            <div class="overlay"></div>
                            <img class="img-fluid w-100" src="~/Assets/User/img/category/c3.png" alt="">
                            <a href="~/Assets/User/img/category/c3.jpg" class="img-pop-up" target="_blank">
                                <div class="deal-details">
                                    <h6 class="deal-title">Iron Man Patriot xanh dương</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8">
                        <div class="single-deal">
                            <div class="overlay"></div>
                            <img class="img-fluid w-100" src="~/Assets/User/img/category/c4.jpg" alt="">
                            <a href="~/Assets/User/img/category/c4.jpg" class="img-pop-up" target="_blank">
                                <div class="deal-details">
                                    <h6 class="deal-title">Giao hàng miễn phí</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-deal">
                    <div class="overlay"></div>
                    <img class="img-fluid w-100" src="~/Assets/User/img/category/c5.jpg" alt="">
                    <a href="~/Assets/User/img/category/c5.jpg" class="img-pop-up" target="_blank">
                        <div class="deal-details">
                            <h6 class="deal-title">Black Friday</h6>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End category Area -->
<!-- start product Area -->
    <!-- single product slide -->
    <div class="single-product-slider">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <div class="section-title">
                        <h1>Sản phẩm mới nhất</h1>
                        <p>
                            Karma luôn cập nhật những mặt hàng và mẫu mã mới nhất.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- single product -->
                @foreach (var item in Model)
                {
                    <!-- single product -->
                    <div class="col-lg-3 col-md-6">
                        <div class="single-product">
                            <a href="@Url.Action("ProductDetails","Shop", new { id = item.MaSanPham})">
                                <img class="img-fluid" src="@item.AnhSanPham" alt="">
                            </a>
                            <div class="product-details">
                                <a href="@Url.Action("ProductDetails","Shop", new { id = item.MaSanPham})">
                                    <h6>
                                        @item.TenSanPham
                                    </h6>
                                </a>
                                <div class="price">
                                    <h6>@String.Format("{0:0,0}", item.Gia) VNĐ</h6>
                                    <h6 class="l-through">@String.Format("{0:0,0}", item.GiaGoc) VNĐ</h6>
                                </div>
                                <div class="prd-bottom">                                                               
                                    <a href="@Url.Action("ProductDetails","Shop", new { id = item.MaSanPham})" class="social-info">
                                        <span class="lnr lnr-move"></span>
                                        <p class="hover-text">Xem thêm</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
<!-- end product Area -->
<!-- Start exclusive deal Area -->
<section class="exclusive-deal-area">
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-6 no-padding exclusive-left">
                <div class="row clock_sec clockdiv" id="clockdiv">
                    <div class="col-lg-12">
                        <h1>Ưu đãi độc quyền sẽ sớm kết thúc!</h1>
                        <p>Ai sẽ là người sẽ được sở hữu quyền lợi này?</p>
                    </div>
                    <div class="col-lg-12">
                        <div class="row clock-wrap">
                            <div class="col clockinner1 clockinner">
                                <h1 class="days">150</h1>
                                <span class="smalltext">Days</span>
                            </div>
                            <div class="col clockinner clockinner1">
                                <h1 class="hours">23</h1>
                                <span class="smalltext">Hours</span>
                            </div>
                            <div class="col clockinner clockinner1">
                                <h1 class="minutes">47</h1>
                                <span class="smalltext">Mins</span>
                            </div>
                            <div class="col clockinner clockinner1">
                                <h1 class="seconds">59</h1>
                                <span class="smalltext">Secs</span>
                            </div>
                        </div>
                    </div>
                </div>    
                <li class="nav-item">@Html.ActionLink("MUA NGAY", "ShopCategory", "Shop", null, new { @class = "primary-btn" })</li>
            </div>
            <div class="col-lg-6 no-padding exclusive-right">
                <div class="active-exclusive-product-slider">
                    @foreach (var item in Model)
                    {
                        <!-- single exclusive carousel -->
                        <div class="single-exclusive-slider">
                            <img class="img-fluid" src="~/Assets/User/img/Fullface HJC Cool Turbine.jpg" alt="">
                            <div class="product-details">
                                <div class="price">
                                    <h6>@String.Format("{0:0,0}", item.Gia) VNĐ</h6>
                                    <h6 class="l-through">@String.Format("{0:0,0}", item.GiaGoc) VNĐ</h6>
                                </div>
                                <h4>
                                    Fullface HJC Cool Turbine
                                </h4>                          
                        </div>               
                    </div>                       
                        <!-- single exclusive carousel -->
                        <div class="single-exclusive-slider">
                            <img class="img-fluid" src="~/Assets/User/img/fullface-yohe-978-plus-kakalot-2-600x600.jpg" alt="">
                            <div class="product-details">
                                <div class="price">
                                    <h6>@String.Format("{0:0,0}", item.Gia) VNĐ</h6>
                                    <h6 class="l-through">@String.Format("{0:0,0}", item.GiaGoc) VNĐ</h6>
                                </div>
                                <h4>
                                    Fullface Yohe 978 Plus Kakalot
                                </h4>                         
                            </div>
                        </div>
                    }
                    </div>
            </div>
        </div>
    </div>
</section>
<!-- End exclusive deal Area -->
<!-- Start brand Area -->
<section class="brand-area section_gap">
    <div class="container">
        <div class="row">
            <a class="col single-img" href="#">
                <img class="img-fluid d-block mx-auto" src="~/Assets/User/img/brand/1.jpg" alt="">
            </a>
            <a class="col single-img" href="#">
                <img class="img-fluid d-block mx-auto" src="~/Assets/User/img/brand/2.jpg" alt="">
            </a>
            <a class="col single-img" href="#">
                <img class="img-fluid d-block mx-auto" src="~/Assets/User/img/brand/3.2.png" alt="">
            </a>
            <a class="col single-img" href="#">
                <img class="img-fluid d-block mx-auto" src="~/Assets/User/img/brand/4.2.png" alt="">
            </a>
            <a class="col single-img" href="#">
                <img class="img-fluid d-block mx-auto" src="~/Assets/User/img/brand/5.2.png" alt="">
            </a>
        </div>
    </div>
</section>
<!-- End brand Area -->
